h1 {
  text-align: center;
  font-family: "Sail", cursive;
  font-size: 54px;
}
h2 {
  font-family: "Josefin Slab", serif;
  padding: 10px;
}
h3 {
  text-align: center;
  font-family: "Josefin Slab", serif;
}
p {
  text-align: center;
  font-family: "Josefin Slab", serif;
  font-size: 28px;
}
ul {
  list-style: none;
  text-align: center;
  font-size: 22px;
}
.page-link {
  font-family: "Josefin Slab", cursive;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}
.logo {
  max-width: 180px;
  display: block;
  margin: 0 auto;
}
.pastry-pic {
  max-width: 300px;
}
.croissant {
  display: block;
  margin: 0 auto;
  width: 300px;
}
.gold-medal {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
